*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:system-ui, sans-serif;
}

#root {
  height: 100%;
}

body{
  height:100vh;
  background:#e6d6a6;
}

/* PAGE */

.page{
  height:100vh;
  display:flex;
  flex-direction:column;
}

/* NAVBAR */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 40px;
}

.logo{
  font-size:22px;
  font-weight:700;
}

.nav-right{
  display:flex;
  align-items:center;
  gap:30px;
}

.nav-right a{
  text-decoration:none;
  color:black;
  font-weight:600;
}

.logout{
  border:1px solid black;
  background:transparent;
  padding:8px 18px;
  border-radius:8px;
  cursor:pointer;
}

.avatar{
  width:36px;
  height:36px;
  border-radius:50%;
}

/* CENTER CONTENT */

.hero{
  flex:1;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  text-align:center;
}

.hero h1{
  font-size:52px;
  margin-bottom:40px;
}

.cta{
  font-size:24px;
  padding:20px 50px;

  border-radius:18px;
  border:2px solid black;

  background:#f2e28d;
  cursor:pointer;
}

.cta:hover{
  transform:scale(1.05);
}